<h2>Update User</h2>
<div class="form-group">
  <label for="first_name">Name</label>
  <input type="text" class="form-control" id="first_name" [(ngModel)]="user.first_name" name="first_name">
</div>
<div class="form-group">
  <label for="last_name">Last Name</label>
  <input type="text" class="form-control" id="last_name" [(ngModel)]="user.last_name" name="last_name">
</div>
<div class="form-group">
  <label for="email">Email</label>
  <input type="text" class="form-control" id="email" [(ngModel)]="user.email" name="email">
</div>
<div class="form-group">
  <label for="telefon">Phone</label>
  <input type="text" class="form-control" id="telefon" [(ngModel)]="user.telefon" name="telefon">
</div>
<div class="form-group">
  <label for="oras">City</label>
  <input type="text" class="form-control" id="oras" [(ngModel)]="user.oras" name="oras">
</div>
<div class="form-group">
  <label for="dateOfBirth">Date Of Birth</label>
  <input type="text" class="form-control" id="dateOfBirth" [(ngModel)]="user.dateOfBirth" name="dateOfBirth">
</div>

<button (click)="editUser()">Apply</button>
